@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/Roboto-Thin.ttf");
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
.header {
	font-family: "Roboto-Thin";
}
.footer,
.content {
	font-family: "Roboto-Regular";
}
body {
	background: #f2f2f2;
}
.header {
	width: 100%;
	background: #1F99DF;
	color: #f2f2f2;
	text-align: center;
	line-height: 55px;
}
.content li a {
	color: #454545;
	background: #FAFAFA;
	display: block;
	line-height: 45px;
	text-decoration: none;
}
.content li a:hover {
	color: #585858;
	text-decoration: underline;
}
.content li a {
	background: #F8CACA;
	color: #815454;
}
.content li a.true {
	background: #E5FCED;
}
.content li a span {
	width: 45px;
	text-align: center;
	margin: 0;
	display: inline-block;
	background: #EC4242;
	color: #802323;
	font-weight: bold;
	margin-right: 20px;
}
.content li a span.true {
	background: #2EEC6D;
	color: #14933E;
}
.footer {
	background: #515151;
	color: #dedede;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
}