@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/Roboto-Thin.ttf");
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
.header {
	font-family: "Roboto-Thin";
}
.footer,
.content {
	font-family: "Roboto-Regular";
}
body {
	background: #f2f2f2;
}
.header {
	width: 100%;
	background: #1F99DF;
	color: #f2f2f2;
	text-align: center;
	line-height: 55px;
}
.content li a {
	color: #454545;
	background: #FAFAFA;
	display: block;
	padding: 0 15px;
	line-height: 45px;
	border-left: 2px solid #FAFAFA;
	text-decoration: none;
}
.content li a:hover {
	background: #F1F1F1;
	color: #585858;
	padding-left: 20px;
	border-left: 2px solid #1F99DF;
	text-decoration: underline;
}
.footer {
	background: #515151;
	color: #dedede;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
}