img {
	vertical-align: middle;
}

:root {
	--dark: #444;
}

body {
	margin: 0;
	font-family: 'Roboto';
	background: #eee;
}

header {
	display: flex;
	flex-direction: column;
	background: var(--dark);
	background-size: cover;
	color: #eee;
	height: 250px;
}

.header__top {
	background: rgba(0, 0, 0, 0.3);
}

.header__top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 1140px;
	margin: 0 auto;
	color: #ccc;
	font-size: 10pt;
}

.header__top-content a {
	color: #eee;
	text-decoration: none;
	transition: .2s;
	position: relative;
}

.header__top-content a::after {
	content: '';
	width: 0%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	margin: 0 auto;
	transition: .2s;
}

.header__top-content a:hover::after {
	width: 100%;
}

.header__top-content a:hover {
	color: #fff;
}

.made-with-love {
	display: flex;
	align-items: center;
}

.made-with-love i {
	margin-left: 8px;
	font-size: 10pt;
	color: #ff6767;
}

.header__title {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 36pt;
}

.container {
	display: flex;
	max-width: 1140px;
	margin: 35px auto;
}

main {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	/*grid-template-rows: repeat(4, 1fr);*/
	background: #fafafa;
	box-shadow: 0 0 2px #ddd;
	border-radius: 2px;
}

.description {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

article {
	display: flex;
	height: 230px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

article .item__image {
	object-fit: cover;
	width: 100%;
	height: auto;
	transition: .5s;
}

article .item__info {
	position: absolute;
	width: 100%;
	bottom: -50px;
	left: 0;
	display: flex;
	flex-direction: column;
	background: #fff;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
	transition: .3s;
	padding: 10px 15px;
	opacity: 0;
}

article .item__title {
	font-weight: bold;
	color: #fff;
}

article .item__description {
	color: #fff;
	font-size: 10pt;
	text-transform: uppercase;
}

article:hover .item__info {
	opacity: 1;
	bottom: 0;
}

article:hover .item__image {
	transform: scale(1.1);
	filter: grayscale(0.6);
}

article:hover .item__title {
	transition: .6s;
	color: #333;
}

article:hover .item__description {
	transition: .9s;
	color: #999;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	color: #aaa;
	font-size: 10pt;
}

.js-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 15, 0.6));
	transition: .2s;
}

.modal {
	display: flex;
}

#js-modal__close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 80px;
	background: rgba(0, 0, 0, 0.2);
	color: #ddd;
	transition: .2s;
}

#js-modal__close:hover {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.modal__content {
	display: flex;
	max-width: 70vw;
	max-height: 80vh;
}

.modal__preview {
	flex: 3;
	overflow-y: scroll;
	text-align: center;
	color: #333;
	background: #fff;
	vertical-align: middle;
	width: 100%;
}

.modal__preview img {
	object-fit: cover;
	width: 100%;
	padding: 0;
	height: auto;
}

.modal__info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f8f8f8;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.modal__title {
	font-weight: bold;
	font-size: 14pt;
	display: flex;
	padding: 15px;
	border-bottom: 1px solid #eee;
	color: #555;
}

.modal__used {
	display: flex;
	margin: 15px;
	font-style: italic;
	color: #888;
}

.modal__technologies {
	list-style-type: decimal;
	color: #555;
}

.modal__button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	border-radius: 35px;
	background: #1e90ff;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin: 20px 30px;
	font-size: 11pt;
	transition: .2s;
}

.modal__button:hover {
	background: #007df6;
	color: #f6faff;
	box-shadow: 0 1px 16px #94caff;
}

.modal__button i {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 12pt;
	margin-right: 10px;
	vertical-align: middle;
}
