@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}
.borderRadius {
	.bottom(@radius) {
		border-bottom-left-radius: @radius;
		-moz-border-bottom-left-radius: @radius;
		-webkit-border-bottom-left-radius: @radius;	
		border-bottom-right-radius: @radius;
		-moz-border-bottom-right-radius: @radius;
		-webkit-border-bottom-right-radius: @radius;		
	}
	.top(@radius) {
		border-top-left-radius: @radius;
		-moz-border-top-left-radius: @radius;
		-webkit-border-top-left-radius: @radius;	
		border-top-right-radius: @radius;
		-moz-border-top-right-radius: @radius;
		-webkit-border-top-right-radius: @radius;		
	}
	.all(@radius) {
		border-radius: @radius;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;	
		border-radius: @radius;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
	}
}
.gradient(@colorTop, @colorBottom)
{
	background: linear-gradient(@colorTop, @colorBottom);
	background: -webkit-linear-gradient(@colorTop, @colorBottom);
    background: -o-linear-gradient(@colorTop, @colorBottom);
    background: -moz-linear-gradient(@colorTop, @colorBottom);
}
.boxShadow(@x, @y, @radius, @color) {
	box-shadow: @x @y @radius @color;
	-moz-box-shadow: @x @y @radius @color;
	-webkit-box-shadow: @x @y @radius @color;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #008bda;
}
a:hover {
	text-decoration: underline;
}
.certificateTitle,
.giftTitle,
.giftDescription,
.testFree a {
	font-family: OpenSans-Bold;
}
.description,
.gift table {
	font-family: OpenSans-Regular;
}
body {
	background: url(../img/background.png), 
                #0083c6 url(../img/backgroundLight.png) 50% 0 no-repeat;
}
.wrapper {
	background: #fefefe;
	width: 960px;
	margin: 0 auto;
	.borderRadius > .bottom(19px);
	.borderRadius > .top(62px 174px);
	box-shadow: 0 15px 60px rgba(0, 35, 55, 0.49);
	position: relative;
	margin-top: 40px;


	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
	margin-bottom: 60px;
	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}
.corner {
	background: url(../img/bgFoldedsCorner.png) 0 0 no-repeat;
	height: 253px;
	top: -10px;
	width: 960px;
	position: absolute;
}
.certificate {
	position: relative;
	z-index: 2;
}
.certificateTitle {
	text-align: center;
	font-size: 44px;
	width: 700px;
	margin: 0 auto;
	color: #ff9200;
	letter-spacing: -2px;
	line-height: 50px;
	padding-top: 40px;
}
.certificateItems {
	margin-top: 50px;
	text-align: center;
}
.description {
	color: #1f1f1f;
	font-size: 14px;
	padding: 0 10px;
}
.certificate .description {
	margin-top: 55px;
}
.block {
	.gradient(#e5f1ff, #f9ffff);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 160px;
	margin: auto;
	vertical-align: block;
	.borderRadius > .all(100%);
	box-shadow: -25px 50px 40px -40px #bfdafb, 
                25px 50px 40px -40px #bfdafb; 
}
.gift {
	position: relative;
	background: #3cbcf1;
	margin-top: 50px;
	padding-top: 45px;
	padding-bottom: 60px;
	text-align: center;
}
.giftTitle {
	color: #fff;
	font-size: 44px;
	margin: 0 auto;
	text-align: center;
	width: 600px;
	line-height: 50px;
}
.giftImg {
	margin-top: 45px;
}
.giftDescription {
	font-size: 24px;
	color: #fff;
}
.gift table {
	margin: 0 auto;
	border-collapse: collapse;
	color: #fff;
	text-align: left;
	width: 560px;
	margin-top: 30px;
}
.gift table tr {
	border-bottom: 1px solid #5bc4ef;
	height: 40px;
}
.gift table tr:first-child {
	border-top: 1px solid #5bc4ef;
}
.gift table td {
	padding-left: 20px;
}
.wave {
	position: absolute;
	width: 100%;
	height: 4px;
	top: -4px;
}
.gift .wave {
	background: url(../img/wave.png) repeat-x;
}
.how {
	position: relative;
	z-index: 3;
}
.how .wave {
	background: url(../img/waveWhite.png) repeat-x;
}
.howItems {
	margin-top: 30px;
	text-align: center;
}
.howItems .block {
	width: 180px;
	height: 180px;
}
.howItems .description {
	margin-top: 30px;
	color: #1f1f1f;
	padding: 0 40px;
}
.howItems ul {
	text-align: left;
	padding-left: 50px;
	margin: 11px 0;
}
.howItems .description li {
	color: #ff7200;
}
.howItems .description li span {
	color: #1f1f1f;
}
.testFree {
	position: relative;
	background: #fef2ce;
	margin-top: 25px;

	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	padding-bottom: 50px;
	/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}
.testFree .wave {
	background: url(../img/waveOrange.png) repeat-x;
}
.testFree a {
	background: radial-gradient(130% 80% at 50% 0px, #ffba2a 0%, #ffa414 50%, #ff9000 50%),
	            linear-gradient(#ff9000 82%, #ffa313 92%, #ff9000 100%);
	margin-top: 37px;
	width: 310px;
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.borderRadius > .all(38px);
	font-size: 20px;
	padding: 0 30px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.08);
	box-shadow: inset 0px -3px 0 #b24f00,
				-10px 30px 30px -30px rgba(0, 77, 112, 0.32),
				10px 30px 30px -30px rgba(0, 77, 112, 0.32);
}
.leftLink {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
.rightLink {
	text-align: left;
	margin-left: 20px;
}
.wrapper .cols {
	float: left;
}

.wrapper .cols.col-1,
.wrapper .cols.col-2,
.wrapper .cols.col-3,
.wrapper .cols.col-4,
.wrapper .cols.col-5,
.wrapper .cols.col-6,
.wrapper .cols.col-7,
.wrapper .cols.col-8,
.wrapper .cols.col-9,
.wrapper .cols.col-10,
.wrapper .cols.col-11,
.wrapper .cols.col-12 { width: 100%; }

.wrapper:before,
.wrapper:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
	content: " ";
	display: table;
	word-wrap: break-word;
}

.wrapper:after,
.row:after,
.clear:after {
	clear: both;
}

@media screen and (min-width: 321px) {
	.wrapper .cols.col-1 { width: 8.333333%; }
	.wrapper .cols.col-2 { width: 16.666666%; }
	.wrapper .cols.col-3 { width: 25%; }
	.wrapper .cols.col-4 { width: 33.333333%; }
	.wrapper .cols.col-5 { width: 41.666666%; }
	.wrapper .cols.col-6 { width: 50%; }
	.wrapper .cols.col-7 { width: 58.333333%; }
	.wrapper .cols.col-8 { width: 66.666666%; }
	.wrapper .cols.col-9 { width: 75%; }
	.wrapper .cols.col-10 { width: 83.333333%; }
	.wrapper .cols.col-11 { width: 91.666666%; }
	.wrapper .cols.col-12 { width: 100%; }
}