@font-face {
  font-family: Aria-Bold;
  src: url("../fonts/Aria-Bold.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
}
body .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
}
body main {
  display: none;
}
body a {
  text-decoration: none;
}
body .button-white {
  color: #4d4d49;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
  cursor: pointer;
}
body .button-dark {
  color: #ffffff;
  background: #212121;
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
  cursor: pointer;
}
body .title {
  text-transform: uppercase;
  font-size: 34px;
  font-family: Aria-Bold;
  word-wrap: break-word;
  max-width: 100%;
}
body .wrap {
  display: flex;
  width: 932px;
  margin: 0 auto;
}
body .pop-up-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 90;
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0;
}
body .pop-up-bg .pop-up-form {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  padding: 40px;
  top: 100vh;
}
body .pop-up-bg .pop-up-form .close {
  position: absolute;
  right: -23px;
  top: -23px;
  cursor: pointer;
}
body .pop-up-bg .pop-up-form .title {
  font-size: 24px;
  color: #4d4d49;
  margin: 0 auto 30px;
}
body .pop-up-bg .pop-up-form .box {
  overflow-y: auto;
}
body .pop-up-bg .pop-up-form form {
  height: 100%;
  padding: 0 25px 0 0;
}
body .pop-up-bg .pop-up-form form .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
body .pop-up-bg .pop-up-form form .row label {
  font-family: Roboto-Regular;
  font-size: 16px;
}
body .pop-up-bg .pop-up-form form .row select,
body .pop-up-bg .pop-up-form form .row input {
  width: 300px;
  margin-left: 20px;
  height: 35px;
  border: none;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
  padding: 0 10px;
}
body .pop-up-bg .pop-up-form .button-dark {
  margin: 30px auto 0;
}
body .view-images-window-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view-images-window-bg .view-images-window {
  background: #fff;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view-images-window-bg .view-images-window .close {
  color: #fff;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
body .view-images-window-bg .view-images-window .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.4;
}
body .view-images-window-bg .view-images-window .left {
  justify-content: flex-start;
  padding-left: 9px;
  left: 0;
  width: 20%;
}
body .view-images-window-bg .view-images-window .right {
  justify-content: flex-end;
  width: 80%;
  right: 0;
  padding-right: 9px;
}
body .view-images-window-bg .view-images-window .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
body .view-images-window-bg .view-images-window .img img {
  max-width: 100%;
  max-height: 100%;
}
body .view-images-window-bg .view-images-window .pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view-images-window-bg .view-images-window .pagination div {
  background: #000;
  width: 7px;
  height: 7px;
}
body .view-images-window-bg .view-images-window .pagination div.current {
  background: #b2b2b2;
}
body .view-images-window-bg .view-images-window .pagination div:not(:last-child) {
  margin-right: 17px;
}
body .free-consultation-window-bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
body .free-consultation-window-bg .free-consultation-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  position: relative;
  top: 100vh;
}
body .free-consultation-window-bg .free-consultation-window .close {
  position: absolute;
  right: -23px;
  top: -23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
body .free-consultation-window-bg .free-consultation-window .title {
  text-align: center;
  color: #4d4d49;
  margin-bottom: 30px;
}
body .free-consultation-window-bg .free-consultation-window form .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
body .free-consultation-window-bg .free-consultation-window form .row label {
  font-family: Roboto-Regular;
  font-size: 16px;
}
body .free-consultation-window-bg .free-consultation-window form .row input {
  width: 300px;
}
body .free-consultation-window-bg .free-consultation-window form .row select,
body .free-consultation-window-bg .free-consultation-window form .row input:not([type="file"]),
body .free-consultation-window-bg .free-consultation-window form .row textarea,
body .free-consultation-window-bg .free-consultation-window form .row .file {
  width: 300px;
  margin-left: 20px;
  border: none;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
}
body .free-consultation-window-bg .free-consultation-window form .row label,
body .free-consultation-window-bg .free-consultation-window form .row input:not([type="file"]) {
  height: 35px;
  display: flex;
  align-items: center;
  font-family: Roboto-Regular;
  padding: 0 10px;
}
body .free-consultation-window-bg .free-consultation-window form .row textarea {
  font-family: Roboto-Regular;
  padding: 10px;
  resize: none;
}
body .free-consultation-window-bg .free-consultation-window form .row .file {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
body .free-consultation-window-bg .free-consultation-window form .row .file span {
  background: #1b1b1b;
  color: #5e5e5e;
  font-size: 20pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: .2s;
}
body .free-consultation-window-bg .free-consultation-window form .row .file span:hover {
  color: #aaa;
}
body .free-consultation-window-bg .free-consultation-window .button-dark {
  margin: 30px auto 0;
}
body .pop-up-order-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
body .pop-up-order-bg .pop-up-order {
  position: relative;
  background: rgba(0, 0, 0, 0.43);
  padding: 15px;
}
body .pop-up-order-bg .pop-up-order .close {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}
body .pop-up-order-bg .pop-up-order form {
  display: flex;
  flex-direction: column;
  max-width: 575px;
}
body .pop-up-order-bg .pop-up-order form .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 15px 50px 0 10px;
}
body .pop-up-order-bg .pop-up-order form .top textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border: none;
  background: #fff;
  color: #cececd;
  font-size: 12pt;
  width: 100%;
  height: 50px;
  font-family: Roboto-Medium;
}
body .pop-up-order-bg .pop-up-order form .top textarea:focus {
  color: #777;
  background: #fafafa;
}
body .pop-up-order-bg .pop-up-order form .top label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 32px;
  color: #cececd;
  font-size: 11pt;
  font-family: Roboto-Medium;
  cursor: pointer;
  transition: .2s;
  padding: 0 10px;
}
body .pop-up-order-bg .pop-up-order form .top label:hover {
  color: #aaa;
}
body .pop-up-order-bg .pop-up-order form .top label img {
  margin-right: 7px;
}
body .pop-up-order-bg .pop-up-order form .info {
  display: flex;
  background: #fff;
  padding: 0 1px;
}
body .pop-up-order-bg .pop-up-order form .info .section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #919191;
  position: relative;
  flex: 1 1 auto;
}
body .pop-up-order-bg .pop-up-order form .info .section:not(:last-child) {
  border-right: 1px solid #919191;
}
body .pop-up-order-bg .pop-up-order form .info .section label {
  position: absolute;
  left: 18px;
}
body .pop-up-order-bg .pop-up-order form .info .section.input-error {
  color: #CF161D;
  background: red;
}
body .pop-up-order-bg .pop-up-order form .info .section input {
  display: flex;
  border: none;
  background: #fff;
  align-items: center;
  height: 32px;
  padding-left: 40px;
  width: 100%;
  outline: none;
  font-size: 10pt;
  font-family: Roboto-Medium;
  color: #303030;
  opacity: 1;
}
body .pop-up-order-bg .pop-up-order form .info .section input::-webkit-input-placeholder {
  color: #303030;
}
body .pop-up-order-bg .pop-up-order form .info .section input:focus {
  background: #fafafa;
}
body .pop-up-order-bg .pop-up-order form .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body .pop-up-order-bg .pop-up-order form .bottom ul {
  background: #303030;
  padding: 20px;
  margin: 20px 0 0 0;
  flex: 1;
  opacity: 0;
}
body .pop-up-order-bg .pop-up-order form .bottom ul li {
  list-style: none;
  font-family: Roboto-Medium;
  font-size: 12pt;
  color: #848484;
}
body .pop-up-order-bg .pop-up-order form .bottom ul li:not(:last-child) {
  margin-bottom: 10px;
}
body .pop-up-order-bg .pop-up-order form .bottom #submitOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 40px;
  background: #fff;
  border: none;
  font-family: Aria-Bold;
  font-size: 12pt;
  color: #5c5c5c;
  margin: 20px 0 0 20px;
  cursor: pointer;
}
body header {
  background: #7a7a7a url("../img/header-bg.jpg");
  background-size: cover;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header .square {
  width: 180px;
  height: 180px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
}
body header nav-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  font-family: Aria-Bold;
}
body header nav-wrap nav.mobile {
  display: none;
}
body header nav-wrap nav.mobile .mobile__icon {
  width: 70px;
}
body header nav-wrap nav.mobile .mobile__icon img {
  width: 100%;
}
body header nav-wrap nav.desktop {
  width: 932px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
}
body header nav-wrap nav.desktop a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 20px;
  font-size: 12px;
}
body header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
body header .info .logo-description {
  font-family: Roboto-Regular;
  font-size: 10px;
  width: 110px;
}
body header .info .title {
  font-family: Roboto-Medium;
  font-size: 34px;
  margin-top: 42px;
}
body header .info .button-white {
  margin-top: 21px;
}
body .projects {
  padding: 74px 0 63px;
  display: flex;
}
body .projects .grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .projects .grid .grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body .projects .grid .grid-row .col-1 {
  display: flex;
  flex: 1;
  height: 182px;
}
body .projects .grid .grid-row .col-1:not(:last-child) {
  margin: 0 4px 4px 0;
}
body .projects .grid .grid-row .col-1 .block {
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
body .projects .grid .grid-row .col-1 .block .image {
  display: flex;
  position: absolute;
  filter: brightness(0.4);
  top: 0;
  left: 0;
  transition: .2s;
}
body .projects .grid .grid-row .col-1 .block .info {
  z-index: 1;
  color: #fff;
  margin: 0 0 12px 13px;
}
body .projects .grid .grid-row .col-1 .block .info .project-title {
  color: #fff;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-size: 14px;
}
body .projects .grid .grid-row .col-1 .block .info .project-description {
  font-family: Roboto-Regular;
  font-size: 13px;
}
body .projects .grid .grid-row .col-1 .block:hover .image {
  filter: brightness(1);
  transform: scale(1.1);
}
body .projects .grid .grid-row .col-2 {
  display: flex;
  flex: 2;
  margin: 0 8px 4px 0;
}
body .projects .grid .grid-row .add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 182px;
  cursor: pointer;
}
body .projects .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .projects .info .title {
  color: #4d4d49;
}
body .projects .info .description {
  color: #4d4d49;
  font-size: 11px;
}
body .projects .info .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .projects .info .arrows {
  margin-bottom: 28px;
}
body .projects .info .arrows img {
  cursor: pointer;
}
body .projects .info .arrows img:first-child {
  margin-right: 16px;
}
body .best-works {
  background: #212121;
  display: flex;
  flex-direction: column;
  padding: 83px 0 0;
  color: #fff;
}
body .best-works .top {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
}
body .best-works .top .description {
  font-family: Roboto-Medium;
  font-size: 11px;
}
body .best-works .top .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .best-works .content {
  display: flex;
  justify-content: space-between;
}
body .best-works .content .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .best-works .content .info .info-title {
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 25px;
}
body .best-works .content .info .info-params {
  color: #9d9c9c;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
}
body .best-works .content .info .info-params b {
  font-size: 16px;
}
body .best-works .content .info .info-description {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-family: Roboto-Medium;
  margin: 24px 0px 0 0;
}
body .best-works .content .info .button-white {
  margin-top: 27px;
}
body .best-works .content .info .arrows {
  margin: 42px 0 0;
  cursor: pointer;
}
body .best-works .content .info .arrows img:first-child {
  margin-right: 9px;
}
body .best-works .content .image {
  display: flex;
  width: 60%;
  height: 100%;
}
body .best-works .content .image img {
  max-width: 100%;
  object-fit: cover;
}
body .advantages .wrap {
  display: flex;
  flex-direction: column;
}
body .advantages .wrap .close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  transition: .2s;
}
body .advantages .wrap .close img {
  transition: .2s;
}
body .advantages .wrap .close:hover {
  background: #fafafa;
}
body .advantages .wrap .close:hover img {
  opacity: 0.5;
}
body .advantages .wrap .title {
  margin-top: 80px;
  color: #7a7a7a;
}
body .advantages .wrap .description {
  font-size: 11px;
  font-family: Roboto-Medium;
  color: #4d4d49;
}
body .advantages .wrap .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .advantages .wrap .grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}
body .advantages .wrap .grid .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
body .advantages .wrap .grid .item,
body .advantages .wrap .grid .arrows {
  display: flex;
  width: 25%;
}
body .advantages .wrap .grid .arrows {
  justify-content: center;
  align-items: center;
}
body .advantages .wrap .grid .arrows img {
  cursor: pointer;
}
body .advantages .wrap .grid .arrows img:first-child {
  margin-right: 30px;
}
body .advantages .wrap .grid .item {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto-Medium;
  font-size: 13px;
  cursor: pointer;
  padding: 36px 0;
  transition: .1s;
}
body .advantages .wrap .grid .item:hover {
  background: #f8f8f8;
  transform: scale(0.9);
  opacity: 0.8;
}
body .advantages .wrap .grid .item .img {
  height: 70px;
}
body .advantages .wrap .grid .item .desc {
  padding: 20px 30px 0;
  text-align: center;
}
body .advantages .wrap .content {
  flex-wrap: wrap;
  display: none;
  position: relative;
}
body .advantages .wrap .content .pagination {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 60px 0;
}
body .advantages .wrap .content .pagination .section {
  font-family: Aria-Bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-right: 60px;
}
body .advantages .wrap .content .pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
  font-family: Aria-Bold;
  color: #3d3d3d;
  border-bottom: 2px solid #fff;
}
body .advantages .wrap .content .pagination a.current-page {
  color: #a1a1a1;
  border-bottom: 2px solid #a1a1a1;
}
body .advantages .wrap .content .pagination a.next {
  font-size: 15px;
  color: #a4a4a4;
}
body .advantages .wrap .content .news {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .advantages .wrap .content .news .article {
  padding: 20px 0;
  display: flex;
  width: 80%;
  cursor: pointer;
}
body .advantages .wrap .content .news .article .img {
  margin-right: 20px;
  width: 156px;
  height: 156px;
}
body .advantages .wrap .content .news .article .text {
  display: flex;
  flex-direction: column;
}
body .advantages .wrap .content .news .article .text .article-title {
  font-family: Aria-Bold;
  font-size: 24px;
  text-transform: uppercase;
}
body .advantages .wrap .content .news .article .text .desc {
  font-family: Roboto-Regular;
  margin-top: 20px;
  font-size: 12pt;
}
body .advantages .wrap .content .news .article .text .info {
  display: flex;
  align-items: center;
  font-family: Roboto-Regular;
}
body .advantages .wrap .content .news .article .text .info a.more {
  font-size: 12pt;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  color: #747474;
  margin-top: 20px;
}
body .advantages .wrap .content .full-article {
  overflow: hidden;
  height: 680px;
  position: relative;
  padding-bottom: 100px;
}
body .advantages .wrap .content .full-article .article-title {
  font-family: Aria-Bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 40px 0 25px;
  color: #3f3f3f;
}
body .advantages .wrap .content .full-article .text {
  color: #434343;
  font-family: Roboto-Regular;
  font-size: 12px;
}
body .advantages .wrap .content .full-article .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #ffffff 20%);
}
body .advantages .wrap .content .full-article .buttons a {
  cursor: pointer;
  margin: 40px 0 50px;
}
body .advantages .wrap .content .full-article .buttons a:first-child {
  margin-right: 15px;
}
body .advantages .wrap .content .materials .box {
  display: flex;
  flex-wrap: wrap;
}
body .advantages .wrap .content .materials .box a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid #ddd;
  width: 186px;
}
body .free-consultation {
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 78px 0 73px;
}
body .free-consultation .title {
  color: #fff;
}
body .free-consultation .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .free-consultation .button-white {
  margin-top: 39px;
}
body .styles {
  display: flex;
  justify-content: space-between;
}
body .styles .wrap {
  display: flex;
  justify-content: space-between;
  padding: 85px 0;
}
body .styles .wrap .left-side {
  width: 20%;
}
body .styles .wrap .left-side .title {
  color: #4d4d49;
}
body .styles .wrap .left-side .description {
  font-size: 11px;
  color: #4d4d49;
}
body .styles .wrap .left-side .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .styles .wrap .left-side menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .styles .wrap .left-side menu ul {
  padding: 0;
  margin: 63px 0 0;
}
body .styles .wrap .left-side menu ul li {
  list-style: none;
  font-family: Roboto-Medium;
  font-size: 11px;
  cursor: pointer;
}
body .styles .wrap .left-side menu ul li:not(:last-child) {
  margin-bottom: 16px;
}
body .styles .wrap .left-side menu ul li.current {
  font-weight: bold;
}
body .styles .wrap .left-side menu ul li a {
  color: #4d4d49;
  text-transform: uppercase;
  transition: .2s;
}
body .styles .wrap .left-side menu ul li a:hover {
  opacity: 0.8;
  margin-left: 5px;
}
body .styles .wrap .right-side {
  display: flex;
  width: 80%;
}
body .styles .wrap .right-side .images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .styles .wrap .right-side .images a {
  width: 230px;
  height: 514px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body .styles .wrap .right-side .images a:not(:last-child) {
  margin-right: 7px;
}
body .styles .wrap .right-side .images a:hover img {
  filter: brightness(1);
}
body .styles .wrap .right-side .images a img {
  background: #7a7a7a;
  filter: brightness(0.7);
  transition: .2s;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body footer {
  background: #212121;
  width: 100%;
  display: flex;
  height: 582px;
}
body footer .map {
  background: #7a7a7a;
  width: 100%;
  margin: 0;
  padding: 0;
}
body footer .map iframe {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
}
body footer .right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0 40px;
}
body footer .right-side menu {
  margin: 0 0 0 40px;
  padding: 0;
}
body footer .right-side menu li {
  font-family: Roboto-Medium;
  font-size: 11px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  word-break: break-all;
  padding-right: 30px;
}
body footer .right-side menu li:hover {
  color: #7a7a7a;
}
body footer .right-side menu li:not(:last-child) {
  margin-bottom: 18px;
}
body footer .right-side menu li .description {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 9px;
  margin: 10px 0;
  color: #7a7a7a;
}
body footer .right-side menu li .description a {
  color: #7a7a7a;
  text-decoration: underline;
}
body footer .right-side menu li.closed .description {
  display: none;
}
body footer .right-side menu li img {
  margin-right: 5px;
}
body footer .right-side .bottom {
  margin-left: 40px;
}
body footer .right-side .bottom .search form {
  display: flex;
  align-items: center;
}
body footer .right-side .bottom .search input {
  font-family: Roboto-Regular;
  background: #333;
  border: none;
  position: relative;
  height: 25px;
  width: 160px;
  color: #fff;
  padding: 0 40px 0 7px;
  font-size: 11px;
}
body footer .right-side .bottom .search button {
  margin-left: -30px;
  z-index: 1;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 25px;
}
body footer .right-side .bottom .social {
  margin: 30px 0 10px;
}
body footer .right-side .bottom .social a {
  color: #fff;
}
body footer .right-side .bottom .copyright {
  color: #fff;
  font-size: 11px;
}
@media screen and (max-width: 980px) {
  body .wrap {
    width: 100%;
  }
  body header nav-wrap {
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
  }
  body header nav-wrap nav.mobile {
    display: flex;
  }
  body header nav-wrap nav.mobile span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    height: 45px;
    color: #fff;
    cursor: pointer;
  }
  body header nav-wrap nav.mobile ul {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 0;
    right: -100%;
    z-index: 9;
    top: -16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  body header nav-wrap nav.mobile ul li {
    display: flex;
  }
  body header nav-wrap nav.mobile ul li:first-child {
    display: flex;
    justify-content: flex-end;
    color: #333;
    width: 100%;
    height: 45px;
    padding: 0 25px;
    cursor: pointer;
  }
  body header nav-wrap nav.mobile ul li a {
    padding: 10px 25px;
    color: #333;
    width: 100%;
  }
  body header nav-wrap nav.mobile ul li a:hover {
    background: #f2f2f2;
  }
  body header nav-wrap nav.desktop {
    display: none;
  }
  body header .title {
    text-align: center;
  }
  body .advantages .title,
  body .advantages .description,
  body .advantages .line {
    text-align: center;
    margin: 0 auto;
  }
  body .advantages .arrows img {
    margin: 0;
    width: 30px;
  }
  body .advantages .arrows img:first-child {
    margin-right: 10px !important;
  }
  body .advantages .item .desc {
    display: none;
  }
  body .advantages .content .article {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body .advantages .content .article .img {
    width: 100%;
    margin: 0;
  }
  body .advantages .content .article .text {
    width: 100%;
    text-align: center;
  }
  body .advantages .content .article .text .top {
    padding: 0 20px;
    width: 100%;
  }
  body .advantages .content .article .text .top .article-title {
    font-size: 14px !important;
    margin-top: 20px;
  }
  body .advantages .content .article .text .info {
    justify-content: center;
  }
  body .advantages .content .full-article {
    padding: 0 10px;
  }
  body .advantages .content .full-article img {
    max-width: 100%;
  }
  body .advantages .content .materials .box a {
    flex-basis: 20%;
    height: auto;
  }
  body .advantages .content .materials .box a:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  body .advantages .content .materials .box a img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body .advantages .content .pagination .section {
    display: none;
  }
  body .styles .wrap {
    flex-direction: column;
    align-items: center;
  }
  body .styles .wrap .left-side .title,
  body .styles .wrap .left-side .description,
  body .styles .wrap .left-side .line {
    margin: 0 auto;
    text-align: center;
  }
  body .styles .wrap .left-side .description {
    margin-bottom: 16px;
  }
  body .styles .wrap .left-side,
  body .styles .wrap .right-side {
    width: 90%;
    margin: 0;
  }
  body .styles .wrap .right-side .images {
    justify-content: center;
  }
  body .styles .wrap .title,
  body .styles .wrap .description,
  body .styles .wrap .line {
    align-items: flex-start;
  }
  body .styles .wrap menu ul {
    display: flex;
    flex-wrap: wrap;
  }
  body .styles .wrap menu ul li {
    flex-basis: 25%;
    height: 45px;
    display: flex;
  }
  body .styles .wrap menu ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .styles .wrap menu ul li a:hover {
    margin-right: 5px;
  }
  body .styles .wrap menu ul li.current {
    background: #f2f2f2;
  }
  body footer {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
  body footer .right-side {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
  body footer .right-side menu {
    margin: 20px 0;
  }
  body footer .right-side .bottom {
    margin: 0;
    text-align: center;
  }
  body footer .right-side .bottom .search input {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .projects .col-2 {
    justify-content: center !important;
    text-align: center;
  }
  .projects .col-2 .col-1 {
    height: 200px;
  }
  .projects .col-2 .info {
    max-width: 100%;
  }
  .projects .col-2 .arrows,
  .projects .col-2 .line {
    margin: 0 auto;
  }
  .projects .col-2 .line {
    margin-bottom: 16px;
  }
  .pop-up-order {
    background: #fff !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
  .pop-up-order .info {
    flex-direction: column;
  }
  .pop-up-order .info .section {
    border: 1px solid #919191;
  }
  .pop-up-order .bottom {
    flex-direction: column;
    align-items: center !important;
  }
  .pop-up-order .bottom ul {
    width: 100%;
  }
  .free-consultation {
    text-align: center;
  }
  .free-consultation-window-bg {
    overflow: hidden;
  }
  .free-consultation-window-bg .free-consultation-window {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .free-consultation-window-bg .free-consultation-window input,
  .free-consultation-window-bg .free-consultation-window textarea,
  .free-consultation-window-bg .free-consultation-window label {
    margin: 0 !important;
  }
  .free-consultation-window-bg .free-consultation-window .close {
    right: 10px !important;
    top: 10px !important;
  }
  .free-consultation-window-bg .free-consultation-window .close img {
    mix-blend-mode: difference;
  }
  .free-consultation-window-bg .free-consultation-window .row {
    flex-direction: column;
    align-items: flex-start !important;
    margin: 0 !important;
  }
  .pop-up-bg {
    overflow: scroll;
  }
  .pop-up-bg .pop-up-form {
    width: 100%;
    height: 100%;
    justify-conent: flex-start !important;
    padding-left: 15px !important;
    padding-right: 0 !important;
  }
  .pop-up-bg .pop-up-form .close {
    right: 10px !important;
    top: 10px !important;
  }
  .pop-up-bg .pop-up-form .close img {
    mix-blend-mode: difference;
  }
  .pop-up-bg .pop-up-form .row {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .pop-up-bg .pop-up-form .row input,
  .pop-up-bg .pop-up-form .row select {
    margin: 0 !important;
    width: 100% !important;
  }
  .grid-row {
    flex-direction: column;
  }
  .grid-row .col-1 {
    margin: 0 0 6px !important;
    height: 80px !important;
  }
  .grid-row .col-1 .image {
    width: 100% !important;
    height: 80px !important;
  }
  .grid-row .col-1 .image img {
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }
  .grid-row .col-1:empty {
    display: none !important;
  }
  .grid-row .col-2 {
    padding: 0 10px;
  }
  .grid-row .add {
    height: 80px !important;
  }
  .best-works .top {
    text-align: center;
    align-items: center;
  }
  .best-works .content {
    padding: 0 20px;
  }
  .best-works .content .info {
    width: 100% !important;
    align-items: center !important;
    text-align: center;
  }
  .best-works .content .image {
    display: none !important;
  }
}
