@font-face {
  font-family: Aria-Bold;
  src: url("../fonts/Aria-Bold.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body .button-white {
  color: #4d4d49;
  background: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
}
body .title {
  text-transform: uppercase;
  font-size: 34px;
  font-family: Aria-Bold;
}
body .wrap {
  width: 932px;
  margin: 0 auto;
}
body header {
  background: #7a7a7a url("../img/header-bg.jpg");
  background-size: cover;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 100%;
}
body header nav-wrap nav {
  width: 932px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
}
body header nav-wrap nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 20px;
  font-size: 12px;
  font-family: Aria-Bold;
}
body header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
body header .info .logo-description {
  font-family: Roboto-Regular;
  font-size: 10px;
  width: 110px;
}
body header .info .title {
  font-family: Roboto-Medium;
  font-size: 34px;
  margin-top: 42px;
}
body header .info .button-white {
  margin-top: 21px;
}
body .projects {
  padding: 74px 0 63px;
}
body .projects .grid {
  display: flex;
  flex-direction: column;
}
body .projects .grid .grid-row {
  display: flex;
  justify-content: space-between;
}
body .projects .grid .grid-row:not(:last-child) {
  margin-bottom: 4px;
}
body .projects .grid .grid-row .col-1 {
  display: flex;
  width: 182px;
  height: 182px;
}
body .projects .grid .grid-row .col-1 a {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
body .projects .grid .grid-row .col-1 a .image {
  position: absolute;
  filter: brightness(0.4);
  top: 0;
  left: 0;
  transition: .2s;
}
body .projects .grid .grid-row .col-1 a .info {
  z-index: 1;
  color: #fff;
  margin: 0 0 12px 13px;
}
body .projects .grid .grid-row .col-1 a .info .project-title {
  color: #fff;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-size: 14px;
}
body .projects .grid .grid-row .col-1 a .info .project-description {
  font-family: Roboto-Regular;
  font-size: 13px;
}
body .projects .grid .grid-row .col-1 a:hover .image {
  filter: brightness(1);
  transform: scale(1.1);
}
body .projects .grid .grid-row .col-2 {
  display: flex;
  width: 370px;
  height: 182px;
}
body .projects .grid .grid-row .add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 182px;
}
body .projects .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .projects .info .title {
  color: #4d4d49;
}
body .projects .info .description {
  color: #4d4d49;
  font-size: 11px;
}
body .projects .info .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .projects .info .arrows {
  margin-bottom: 28px;
}
body .projects .info .arrows img {
  cursor: pointer;
}
body .projects .info .arrows img:first-child {
  margin-right: 16px;
}
body .best-works {
  background: #212121;
  display: flex;
  flex-direction: column;
  padding: 83px 0 0;
  color: #fff;
  position: relative;
}
body .best-works .top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
body .best-works .top .description {
  font-family: Roboto-Medium;
  font-size: 11px;
}
body .best-works .top .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .best-works .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 47px;
}
body .best-works .info .info-title {
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 25px;
}
body .best-works .info .info-params {
  color: #9d9c9c;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
}
body .best-works .info .info-params b {
  font-size: 16px;
}
body .best-works .info .info-description {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-family: Roboto-Medium;
  margin: 24px 0px 0 0;
}
body .best-works .info .button-white {
  margin-top: 27px;
}
body .best-works .info .arrows {
  margin: 42px 0 62px;
  cursor: pointer;
}
body .best-works .info .arrows img:first-child {
  margin-right: 9px;
}
body .best-works .image {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
}
body .free-consultation {
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 78px 0 73px;
}
body .free-consultation .title {
  color: #fff;
}
body .free-consultation .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .free-consultation .button-white {
  margin-top: 39px;
}
body .styles {
  display: flex;
  justify-content: space-between;
}
body .styles .wrap {
  display: flex;
  justify-content: space-between;
  padding: 85px 0;
}
body .styles .wrap .left-side {
  margin-right: 20px;
}
body .styles .wrap .left-side .title {
  color: #4d4d49;
}
body .styles .wrap .left-side .description {
  font-size: 11px;
  color: #4d4d49;
}
body .styles .wrap .left-side .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .styles .wrap .left-side menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .styles .wrap .left-side menu ul {
  padding: 0;
  margin: 63px 0 0;
}
body .styles .wrap .left-side menu ul li {
  list-style: none;
  font-family: Roboto-Medium;
  font-size: 11px;
}
body .styles .wrap .left-side menu ul li:not(:last-child) {
  margin-bottom: 16px;
}
body .styles .wrap .left-side menu ul li a {
  color: #4d4d49;
  text-transform: uppercase;
  transition: .2s;
}
body .styles .wrap .left-side menu ul li a:hover {
  opacity: 0.8;
  margin-left: 5px;
}
body .styles .wrap .right-side .images {
  display: flex;
}
body .styles .wrap .right-side .images a {
  width: 230px;
  height: 514px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .styles .wrap .right-side .images a:not(:last-child) {
  margin-right: 7px;
}
body .styles .wrap .right-side .images a:hover img {
  filter: brightness(1);
  transform: scale(1.1);
}
body .styles .wrap .right-side .images a:hover:after {
  opacity: 1;
  transform: scale(1);
}
body .styles .wrap .right-side .images a img {
  background: #7a7a7a;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  filter: brightness(0.7);
  transition: .2s;
  position: relative;
}
body footer {
  background: #212121;
  width: 100%;
  display: flex;
  height: 582px;
}
body footer .map {
  background: #7a7a7a;
  width: 100%;
}
body footer .right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0 40px;
}
body footer .right-side menu {
  margin: 0 0 0 40px;
  padding: 0;
}
body footer .right-side menu li {
  font-family: Roboto-Medium;
  font-size: 11px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  word-break: break-all;
  padding-right: 30px;
}
body footer .right-side menu li:hover {
  color: #7a7a7a;
}
body footer .right-side menu li:not(:last-child) {
  margin-bottom: 18px;
}
body footer .right-side menu li .description {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 9px;
  margin: 10px 0;
  color: #7a7a7a;
}
body footer .right-side menu li .description a {
  color: #7a7a7a;
  text-decoration: underline;
}
body footer .right-side menu li.closed .description {
  display: none;
}
body footer .right-side menu li.opened:before {
  content: '▼';
}
body footer .right-side menu li.closed:before {
  content: '▶';
}
body footer .right-side .bottom {
  margin-left: 40px;
}
body footer .right-side .bottom .search form {
  display: flex;
  align-items: center;
}
body footer .right-side .bottom .search input {
  font-family: Roboto-Regular;
  background: #333;
  border: none;
  position: relative;
  height: 25px;
  width: 160px;
  color: #fff;
  padding: 0 40px 0 7px;
  font-size: 11px;
}
body footer .right-side .bottom .search button {
  margin-left: -30px;
  z-index: 1;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 25px;
}
body footer .right-side .bottom .social {
  margin: 30px 0 10px;
}
body footer .right-side .bottom .social a {
  color: #fff;
}
body footer .right-side .bottom .copyright {
  color: #fff;
  font-size: 11px;
}
