@light-grey: #7a7a7a;
@grey: #4d4d49;
@dark-grey: #212121;

@font-face {
  font-family: Aria-Bold;
  src: url("../fonts/Aria-Bold.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

.button(@text-color, @bg-color) {
  color: @text-color;
  background: @bg-color;
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
}

.line(@color) {
  background: @color;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  app {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .button-white {
    .button(@grey, #fff);
    cursor: pointer;
  }
  .button-dark {
    .button(#fff, @dark-grey);
    cursor: pointer;    
  }
  .title {
    text-transform: uppercase;
    font-size: 34px;
    font-family: Aria-Bold;
  }
  .wrap {
    display: flex;
    width: 932px;
    margin: 0 auto;
  }
  .pop-up-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 90;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
    .pop-up-form, form {
      display: flex;
      flex-direction: column;
    }
    .pop-up-form {
      // FIXME: paddings, margins and sizes of objects
      background: #fff;
      position: relative;
      padding: 40px;
      top: 100vh;
      .close {
        position: absolute;
        right: -23px;
        top: -23px;
        cursor: pointer;
      }
      .title {
        font-size: 24px;
        color: #4d4d49;
        margin: 0 auto 30px;
      }
      form {
        .row {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 20px;
          label {
            font-family: Roboto-Regular;
            font-size: 16px;
          }
          select, input {
            width: 300px;
            margin-left: 20px;
            height: 35px;
            // FIXME COLOR
            border: none;
            background: #f1f1f1;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
            padding: 0 10px;
          }
        }
      }
      .button-dark {
        margin: 30px auto 0;
      }
    }
  }
  .view-images-window-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    .view-images-window {
      background: #fff;
      padding: 20px;
      position: relative;
      .close {
        color: #fff;
        cursor: pointer;
        right: -23px;
        top: -23px;
        // width: 45px;
        // height: 45px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        cursor: pointer;
      }
      .left {
        justify-content: flex-start;
        padding-left: 40px;
        left: 0;
        width: 20%;
      }
      .right {
        justify-content: flex-end;
        width: 80%;
        right: 0;
        padding-right: 40px;
      }
    }
  }
  .free-consultation-window-bg {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    .free-consultation-window {
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #fff;
      padding: 40px;
      position: relative;
      .close {
        position: absolute;
        right: -23px;
        top: -23px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
      }
      .title {
        text-align: center;
        color: #4d4d49;
        margin-bottom: 30px;
      }
      form {
        .row {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 20px;
          label {
            font-family: Roboto-Regular;
            font-size: 16px;
          }
          input {
            width: 300px;
          }
          select, input:not([type="file"]), textarea {
            width: 300px;
            margin-left: 20px;
            // FIXME COLOR
            border: none;
            background: #f1f1f1;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
          }
          label, input:not([type="file"]) {
            height: 35px;
            display: flex;
            align-items: center;
            font-family: Roboto-Regular;
            padding: 0 10px;  
          }
          textarea {
            font-family: Roboto-Regular;
            padding: 10px;
            resize: none;
          }
        }
      }
      .button-dark {
        margin: 30px auto 0;
      }
    }
  }
  .pop-up-order-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
    .pop-up-order {
      form {
        display: flex;
        flex-direction: column;
      }
    }
  }
  header {
    background: @light-grey url("../img/header-bg.jpg");
    background-size: cover;
    height: 692px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .square {
      width: 180px;
      height: 180px;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
    }
    .square-1 {
      top: 20%;
      left: 60%;
      animation: squareFirstAnimation 5s ease-in-out infinite;
    }
    .square-2 {
      top: 50%;
      left: 20%;
      animation: squareSecondAnimation 3s ease infinite;
    }
    .square-3 {
      right: 10%;
      bottom: 0;
      animation: squareThirdAnimation 4s ease infinite;
    }
    @keyframes squareFirstAnimation {
      from { opacity: 0; }
      60% { opacity: 1; }
      to { opacity: 0; }
    }
    @keyframes squareSecondAnimation {
      from { opacity: 0; }
      10% { opacity: 1; }
      to { opacity: 0; }
    }
    @keyframes squareThirdAnimation {
      from { opacity: 0; }
      70% { opacity: 1; }
      to { opacity: 0; }
    }
    nav-wrap {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      nav.mobile {
        display: none;
      }
      nav.desktop {
        width: 932px;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        margin: 0 auto;
        a {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          height: 49px;
          padding: 0 20px;
          font-size: 12px;
          font-family: Aria-Bold;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      .logo-description {
        font-family: Roboto-Regular;
        font-size: 10px;
        width: 110px;
      }
      .title {
        font-family: Roboto-Medium;
        font-size: 34px;
        margin-top: 42px;
      }
      .button-white {
        margin-top: 21px;
      }
    }
  }
  .projects {
    padding: 74px 0 63px;
    display: flex;
    .grid {
      display: flex;
      flex-direction: column;
      .grid-row {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
        .col-1 {
          display: flex;
          width: 182px;
          height: 182px;
          margin: 0 4px 4px 0;
          .block {
            display: flex;
            width: 100%;
            align-items: flex-end;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            .image {
              position: absolute;
              filter: brightness(0.4);
              top: 0;
              left: 0;
              transition: .2s;
            }
            .info {
              z-index: 1;
              color: #fff;
              margin: 0 0 12px 13px;
              .project-title {
                color: #fff;
                font-family: Roboto-Medium;
                text-transform: uppercase;
                font-size: 14px;
              }
              .project-description {
                font-family: Roboto-Regular;
                font-size: 13px;
              }
            }
            &:hover .image {
              filter: brightness(1);
              transform: scale(1.1);
            }
          }
        }
        .col-2 {
          display: flex;
          width: 370px;
          height: 182px;
        }
        .add {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 182px;
          height: 182px;
          cursor: pointer;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        color: @grey;
      }
      .description {
        color: @grey;
        font-size: 11px;
      }
      .line {
        .line(@grey);
      }
      .arrows {
        margin-bottom: 28px;
        img {
          cursor: pointer;
          &:first-child {
            margin-right: 16px;
          }
        }
      }
    }
  }
  .best-works {
    background: @dark-grey;
    display: flex;
    flex-direction: column;
    padding: 83px 0 0;
    color: #fff;
    position: relative;
    .top {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      .description {
        font-family: Roboto-Medium;
        font-size: 11px;
      }
      .line {
        .line(@light-grey);
      }
    }
    .info {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 47px;
      .info-title {
        text-transform: uppercase;
        font-family: Aria-Bold;
        font-size: 25px;
      }
      .info-params {
        color: #9d9c9c;
        font-family: Roboto-Medium;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 13px;
        b {
          font-size: 16px;
        }
      }
      .info-description {
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        font-family: Roboto-Medium;
        //margin-right: 20px;
        margin: 24px 0px 0 0;
      }
      .button-white {
        margin-top: 27px;
      }
      .arrows {
        margin: 42px 0 62px;
        cursor: pointer;
        img:first-child {
          margin-right: 9px;
        }
      }
    }
    .image {
      position: absolute;
      margin: 0;
      padding: 0;
      right: 0;
      bottom: 0;
      width: 60%;
      img {
        max-width: 100%;
      }
    }
  }
  .advantages {
    .wrap {
      display: flex;
      flex-direction: column;
      .title {
        margin-top: 80px;
        color: @light-grey;
      }
      .description {
        font-size: 11px;
        font-family: Roboto-Medium;
        color: @grey;
      }
      .line {
        .line(@grey);
      }
      .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 60px;
        width: 100%;
        .row {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
        }
        .item, .arrows {
          display: flex;
          width: 25%;
        }
        .arrows {
          justify-content: center;
          align-items: center;
          img {
            cursor: pointer;
            &:first-child {
              margin-right: 30px;
            }
          }
        }
        .item {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          font-family: Roboto-Medium;
          font-size: 13px;
          cursor: pointer;
          padding: 36px 0;
          transition: .1s;
          &:hover {
            background: #f8f8f8;
            transform: scale(0.9);
            opacity: 0.8;
          }
          .img {
            height: 70px;
          }
          .desc {
            padding: 20px 30px 0;
            text-align: center;
          }
        }
      }
      .content {
        flex-wrap: wrap;
        display: none;
        position: relative;
        &:after {
          position: absolute;
          right: 0;
          top: 0;
          content: 'X';
          border: 1px solid red;
          background: red;
        }
        .news {
          display: flex;
          align-items: center;
          flex-direction: column;
          .article {
            border-bottom: 1px solid @light-grey;
            padding: 20px 0;
            display: flex;
            width: 80%;
            .img {
              padding-right: 20px;
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .article-title {
                font-family: Aria-Bold;
              }
              .desc {
                font-family: Roboto-Regular;
              }
              .info {
                display: flex;
                align-items: center;
                font-family: Roboto-Regular;
                font-size: 12px;
                .category {
                  color: #ff0000;
                }
                .circle {
                  width: 6px;
                  height: 6px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  background: @light-grey;
                  margin: 0 5px;
                }
              }
            }
          }
          .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid @light-grey;
            margin: 20px 0;
            border-radius: 45px;
            a, span {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px;
              width: 45px;
              font-family: Roboto-Regular;
            }
            a {
              color: @dark-grey;
              transition: .2s;
              &:hover {
                background: #f8f8f8;
                color: #666;
              }
              &.current-page {
                background: #eee;
                color: #000;
                font-family: Aria-Bold;
              }
            }
            span {
              color: #999;
            }
            .arrow-left {
              border-top-left-radius: 45px;
              border-bottom-left-radius: 45px;
            }
            .arrow-right {
              border-top-right-radius: 45px;
              border-bottom-right-radius: 45px;
            }
          }
        }
      }
    }
  }
  .free-consultation {
    background: @dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 78px 0 73px;
    .title {
      color: #fff;
    }
    .line {
      .line(@light-grey);
    }
    .button-white {
      margin-top: 39px;
    }
  }
  .styles {
    display: flex;
    justify-content: space-between;
    .wrap {
      display: flex;
      justify-content: space-between;
      padding: 85px 0;
      .left-side {
        width: 20%;
        // margin-right: 20px;
        .title {
          color: @grey;
        }
        .description {
          font-size: 11px;
          color: @grey;
        }
        .line {
          .line(@grey);
        }
        menu {
          display: flex;
          flex-direction: column;
          padding: 0;
          ul {
            padding: 0;
            margin: 63px 0 0;
            li {
              list-style: none;
              font-family: Roboto-Medium;
              font-size: 11px;
              cursor: pointer;
              &:not(:last-child) {
                margin-bottom: 16px;
              }
              &.current {
                //list-style: disc;
                //padding-left: 15px;
                font-weight: bold;
              }
              a {
                color: @grey;
                text-transform: uppercase;
                transition: .2s;
                &:hover {
                  opacity: 0.8;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
      .right-side {
        display: flex;
        width: 80%;
        .images {
          display: flex;
          justify-content: space-between;
          width: 100%;
          a {
            width: 230px;
            height: 514px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:not(:last-child) {
              margin-right: 7px;
            }
            &:hover {
              img {
                filter: brightness(1);
                // transform: scale(1.1);
              }
            }
            img {
              background: @light-grey;
              // width: 100%;
              // height: 100%;
              //  ---------------------------------------------------------
              // FIXME: I wanna be cover image, but I don't working in Firefox :(
              //  ---------------------------------------------------------
              object-fit: cover;
              -o-object-fit: cover;
              //  ---------------------------------------------------------
              filter: brightness(0.7);
              transition: .2s;
              position: relative;
            }
          }
        }
      }
    }
  }
  footer {
    background: @dark-grey;
    width: 100%;
    display: flex;
    height: 582px;
    .map {
      background: @light-grey;
      width: 100%;
      margin: 0;
      padding: 0;
      iframe {
        display: flex;
        height: 100%;
      }
    }
    .right-side {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 90px 0 40px;
      menu {
        margin: 0 0 0 40px;
        padding: 0;
        li {
          font-family: Roboto-Medium;
          font-size: 11px;
          list-style: none;
          text-transform: uppercase;
          color: #fff;
          cursor: pointer;
          transition: .2s;
          word-break: break-all;
          padding-right: 30px;
          &:hover {
            color: @light-grey;
          }
          &:not(:last-child) {
            margin-bottom: 18px;
          }
          .description {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            font-size: 9px;
            margin: 10px 0;
            color: @light-grey;
            a {
              color: @light-grey;
              text-decoration: underline;
            }
          }
          &.closed .description {
            display: none;
          }
          img {
            margin-right: 5px;
          }
        }
      }
      .bottom {
        margin-left: 40px;
        .search {
          form {
            display: flex;
            align-items: center;
          }
          @input-height: 25px;
          input {
            font-family: Roboto-Regular;
            background: #333;
            border: none;
            position: relative;
            height: @input-height;
            width: 160px;
            color: #fff;
            padding: 0 40px 0 7px;
            font-size: 11px;
          }
          button {
            margin-left: -30px;
            z-index: 1;
            color: #fff;
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            height: @input-height;
          }
        }
        .social {
          margin: 30px 0 10px;
          a {
            color: #fff;
          }
        }
        .copyright {
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  body {
    .wrap {
      width: 100%;
    }
    header {
      nav-wrap {
        display: flex;
        justify-content: flex-end;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        nav.mobile {
          display: flex;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            height: 45px;
            color: #fff;
            cursor: pointer;
          }
          ul {
            display: none;
            flex-direction: column;
            position: fixed;
            padding: 0;
            right: -100%;
            z-index: 9;
            top: -16px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            height: 100%;
            span {
              display: flex;
              justify-content: flex-end;
              color: #333;
            }
            a {
              padding: 10px 25px;
              color: #333;
              &:hover {
                background: #f2f2f2;
              }
            }
          }
        }
        nav.desktop {
          display: none;
        }
      }
    }
    .advantages {
    }
    .best-works {
    }
    .styles {
      .wrap {
        flex-direction: column;
        align-items: center;
        .left-side,
        .right-side {
          width: 90%;
          margin: 0;
        }
        .right-side .images {
            justify-content: center;
        }
        .title,
        .description,
        .line {
          align-items: flex-start;
        }
        menu {
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              flex-basis: 25%;
              height: 45px;
              display: flex;
              //border: 1px solid green;
              a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                &:hover {
                  margin-right: 5px;
                }
              }
              &.current {
                background: #f2f2f2;
              }
            }
          }
        }
      }
    }
    footer {
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      .right-side {
        width: 100%;
        padding: 0 20px;
        margin: 0;
        menu {
          margin: 20px 0;
        }
        .bottom {
          margin: 0;
          text-align: center;
          .search input {
            width: 100%;
          }
        }
      }
    }
  }
}