@font-face {
  font-family: Aria-Bold;
  src: url("../fonts/Aria-Bold.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  outline: none;
}
img {
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
}
body .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
}
body app {
  display: none;
}
body a {
  text-decoration: none;
}
body .button-white {
  color: #4d4d49;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
  cursor: pointer;
}
body .button-dark {
  color: #ffffff;
  background: #212121;
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 51px;
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 14px;
  cursor: pointer;
}
body .title {
  text-transform: uppercase;
  font-size: 34px;
  font-family: Aria-Bold;
}
body .wrap {
  display: flex;
  width: 932px;
  margin: 0 auto;
}
body .pop-up-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 90;
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0;
}
body .pop-up-bg .pop-up-form,
body .pop-up-bg form {
  display: flex;
  flex-direction: column;
}
body .pop-up-bg .pop-up-form {
  background: #fff;
  position: relative;
  padding: 40px;
  top: 100vh;
}
body .pop-up-bg .pop-up-form .close {
  position: absolute;
  right: -23px;
  top: -23px;
  cursor: pointer;
}
body .pop-up-bg .pop-up-form .title {
  font-size: 24px;
  color: #4d4d49;
  margin: 0 auto 30px;
}
body .pop-up-bg .pop-up-form form .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
body .pop-up-bg .pop-up-form form .row label {
  font-family: Roboto-Regular;
  font-size: 16px;
}
body .pop-up-bg .pop-up-form form .row select,
body .pop-up-bg .pop-up-form form .row input {
  width: 300px;
  margin-left: 20px;
  height: 35px;
  border: none;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
  padding: 0 10px;
}
body .pop-up-bg .pop-up-form .button-dark {
  margin: 30px auto 0;
}
body .view-images-window-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view-images-window-bg .view-images-window {
  background: #fff;
  padding: 20px;
  position: relative;
}
body .view-images-window-bg .view-images-window .close {
  color: #fff;
  cursor: pointer;
  right: -23px;
  top: -23px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view-images-window-bg .view-images-window .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  cursor: pointer;
}
body .view-images-window-bg .view-images-window .left {
  justify-content: flex-start;
  padding-left: 40px;
  left: 0;
  width: 20%;
}
body .view-images-window-bg .view-images-window .right {
  justify-content: flex-end;
  width: 80%;
  right: 0;
  padding-right: 40px;
}
body .free-consultation-window-bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
body .free-consultation-window-bg .free-consultation-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  position: relative;
}
body .free-consultation-window-bg .free-consultation-window .close {
  position: absolute;
  right: -23px;
  top: -23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
body .free-consultation-window-bg .free-consultation-window .title {
  text-align: center;
  color: #4d4d49;
  margin-bottom: 30px;
}
body .free-consultation-window-bg .free-consultation-window form .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
body .free-consultation-window-bg .free-consultation-window form .row label {
  font-family: Roboto-Regular;
  font-size: 16px;
}
body .free-consultation-window-bg .free-consultation-window form .row input {
  width: 300px;
}
body .free-consultation-window-bg .free-consultation-window form .row select,
body .free-consultation-window-bg .free-consultation-window form .row input:not([type="file"]),
body .free-consultation-window-bg .free-consultation-window form .row textarea {
  width: 300px;
  margin-left: 20px;
  border: none;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
}
body .free-consultation-window-bg .free-consultation-window form .row label,
body .free-consultation-window-bg .free-consultation-window form .row input:not([type="file"]) {
  height: 35px;
  display: flex;
  align-items: center;
  font-family: Roboto-Regular;
  padding: 0 10px;
}
body .free-consultation-window-bg .free-consultation-window form .row textarea {
  font-family: Roboto-Regular;
  padding: 10px;
  resize: none;
}
body .free-consultation-window-bg .free-consultation-window .button-dark {
  margin: 30px auto 0;
}
body .pop-up-order-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
body .pop-up-order-bg .pop-up-order form {
  display: flex;
  flex-direction: column;
}
body header {
  background: #7a7a7a url("../img/header-bg.jpg");
  background-size: cover;
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header .square {
  width: 180px;
  height: 180px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
}
body header .square-1 {
  top: 20%;
  left: 60%;
  animation: squareFirstAnimation 5s ease-in-out infinite;
}
body header .square-2 {
  top: 50%;
  left: 20%;
  animation: squareSecondAnimation 3s ease infinite;
}
body header .square-3 {
  right: 10%;
  bottom: 0;
  animation: squareThirdAnimation 4s ease infinite;
}
@keyframes squareFirstAnimation {
  from {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes squareSecondAnimation {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes squareThirdAnimation {
  from {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body header nav-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}
body header nav-wrap nav.mobile {
  display: none;
}
body header nav-wrap nav.desktop {
  width: 932px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
}
body header nav-wrap nav.desktop a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 20px;
  font-size: 12px;
  font-family: Aria-Bold;
}
body header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
body header .info .logo-description {
  font-family: Roboto-Regular;
  font-size: 10px;
  width: 110px;
}
body header .info .title {
  font-family: Roboto-Medium;
  font-size: 34px;
  margin-top: 42px;
}
body header .info .button-white {
  margin-top: 21px;
}
body .projects {
  padding: 74px 0 63px;
  display: flex;
}
body .projects .grid {
  display: flex;
  flex-direction: column;
}
body .projects .grid .grid-row {
  display: flex;
  flex-wrap: wrap;
}
body .projects .grid .grid-row:not(:last-child) {
  margin-bottom: 4px;
}
body .projects .grid .grid-row .col-1 {
  display: flex;
  width: 182px;
  height: 182px;
  margin: 0 4px 4px 0;
}
body .projects .grid .grid-row .col-1 .block {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
body .projects .grid .grid-row .col-1 .block .image {
  position: absolute;
  filter: brightness(0.4);
  top: 0;
  left: 0;
  transition: .2s;
}
body .projects .grid .grid-row .col-1 .block .info {
  z-index: 1;
  color: #fff;
  margin: 0 0 12px 13px;
}
body .projects .grid .grid-row .col-1 .block .info .project-title {
  color: #fff;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-size: 14px;
}
body .projects .grid .grid-row .col-1 .block .info .project-description {
  font-family: Roboto-Regular;
  font-size: 13px;
}
body .projects .grid .grid-row .col-1 .block:hover .image {
  filter: brightness(1);
  transform: scale(1.1);
}
body .projects .grid .grid-row .col-2 {
  display: flex;
  width: 370px;
  height: 182px;
}
body .projects .grid .grid-row .add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 182px;
  cursor: pointer;
}
body .projects .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .projects .info .title {
  color: #4d4d49;
}
body .projects .info .description {
  color: #4d4d49;
  font-size: 11px;
}
body .projects .info .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .projects .info .arrows {
  margin-bottom: 28px;
}
body .projects .info .arrows img {
  cursor: pointer;
}
body .projects .info .arrows img:first-child {
  margin-right: 16px;
}
body .best-works {
  background: #212121;
  display: flex;
  flex-direction: column;
  padding: 83px 0 0;
  color: #fff;
  position: relative;
}
body .best-works .top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
body .best-works .top .description {
  font-family: Roboto-Medium;
  font-size: 11px;
}
body .best-works .top .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .best-works .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 47px;
}
body .best-works .info .info-title {
  text-transform: uppercase;
  font-family: Aria-Bold;
  font-size: 25px;
}
body .best-works .info .info-params {
  color: #9d9c9c;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
}
body .best-works .info .info-params b {
  font-size: 16px;
}
body .best-works .info .info-description {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-family: Roboto-Medium;
  margin: 24px 0px 0 0;
}
body .best-works .info .button-white {
  margin-top: 27px;
}
body .best-works .info .arrows {
  margin: 42px 0 62px;
  cursor: pointer;
}
body .best-works .info .arrows img:first-child {
  margin-right: 9px;
}
body .best-works .image {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  width: 60%;
}
body .best-works .image img {
  max-width: 100%;
}
body .advantages .wrap {
  display: flex;
  flex-direction: column;
}
body .advantages .wrap .title {
  margin-top: 80px;
  color: #7a7a7a;
}
body .advantages .wrap .description {
  font-size: 11px;
  font-family: Roboto-Medium;
  color: #4d4d49;
}
body .advantages .wrap .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .advantages .wrap .grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}
body .advantages .wrap .grid .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
body .advantages .wrap .grid .item,
body .advantages .wrap .grid .arrows {
  display: flex;
  width: 25%;
}
body .advantages .wrap .grid .arrows {
  justify-content: center;
  align-items: center;
}
body .advantages .wrap .grid .arrows img {
  cursor: pointer;
}
body .advantages .wrap .grid .arrows img:first-child {
  margin-right: 30px;
}
body .advantages .wrap .grid .item {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto-Medium;
  font-size: 13px;
  cursor: pointer;
  padding: 36px 0;
  transition: .1s;
}
body .advantages .wrap .grid .item:hover {
  background: #f8f8f8;
  transform: scale(0.9);
  opacity: 0.8;
}
body .advantages .wrap .grid .item .img {
  height: 70px;
}
body .advantages .wrap .grid .item .desc {
  padding: 20px 30px 0;
  text-align: center;
}
body .advantages .wrap .content {
  flex-wrap: wrap;
  display: none;
  position: relative;
}
body .advantages .wrap .content:after {
  position: absolute;
  right: 0;
  top: 0;
  content: 'X';
  border: 1px solid red;
  background: red;
}
body .advantages .wrap .content .news {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .advantages .wrap .content .news .article {
  border-bottom: 1px solid #7a7a7a;
  padding: 20px 0;
  display: flex;
  width: 80%;
}
body .advantages .wrap .content .news .article .img {
  padding-right: 20px;
}
body .advantages .wrap .content .news .article .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .advantages .wrap .content .news .article .text .article-title {
  font-family: Aria-Bold;
}
body .advantages .wrap .content .news .article .text .desc {
  font-family: Roboto-Regular;
}
body .advantages .wrap .content .news .article .text .info {
  display: flex;
  align-items: center;
  font-family: Roboto-Regular;
  font-size: 12px;
}
body .advantages .wrap .content .news .article .text .info .category {
  color: #ff0000;
}
body .advantages .wrap .content .news .article .text .info .circle {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #7a7a7a;
  margin: 0 5px;
}
body .advantages .wrap .content .news .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7a7a7a;
  margin: 20px 0;
  border-radius: 45px;
}
body .advantages .wrap .content .news .pagination a,
body .advantages .wrap .content .news .pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  font-family: Roboto-Regular;
}
body .advantages .wrap .content .news .pagination a {
  color: #212121;
  transition: .2s;
}
body .advantages .wrap .content .news .pagination a:hover {
  background: #f8f8f8;
  color: #666;
}
body .advantages .wrap .content .news .pagination a.current-page {
  background: #eee;
  color: #000;
  font-family: Aria-Bold;
}
body .advantages .wrap .content .news .pagination span {
  color: #999;
}
body .advantages .wrap .content .news .pagination .arrow-left {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
body .advantages .wrap .content .news .pagination .arrow-right {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
body .free-consultation {
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 78px 0 73px;
}
body .free-consultation .title {
  color: #fff;
}
body .free-consultation .line {
  background: #7a7a7a;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .free-consultation .button-white {
  margin-top: 39px;
}
body .styles {
  display: flex;
  justify-content: space-between;
}
body .styles .wrap {
  display: flex;
  justify-content: space-between;
  padding: 85px 0;
}
body .styles .wrap .left-side {
  width: 20%;
}
body .styles .wrap .left-side .title {
  color: #4d4d49;
}
body .styles .wrap .left-side .description {
  font-size: 11px;
  color: #4d4d49;
}
body .styles .wrap .left-side .line {
  background: #4d4d49;
  display: flex;
  height: 5px;
  width: 45px;
  margin-top: 16px;
}
body .styles .wrap .left-side menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .styles .wrap .left-side menu ul {
  padding: 0;
  margin: 63px 0 0;
}
body .styles .wrap .left-side menu ul li {
  list-style: none;
  font-family: Roboto-Medium;
  font-size: 11px;
  cursor: pointer;
}
body .styles .wrap .left-side menu ul li:not(:last-child) {
  margin-bottom: 16px;
}
body .styles .wrap .left-side menu ul li.current {
  font-weight: bold;
}
body .styles .wrap .left-side menu ul li a {
  color: #4d4d49;
  text-transform: uppercase;
  transition: .2s;
}
body .styles .wrap .left-side menu ul li a:hover {
  opacity: 0.8;
  margin-left: 5px;
}
body .styles .wrap .right-side {
  display: flex;
  width: 80%;
}
body .styles .wrap .right-side .images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .styles .wrap .right-side .images a {
  width: 230px;
  height: 514px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body .styles .wrap .right-side .images a:not(:last-child) {
  margin-right: 7px;
}
body .styles .wrap .right-side .images a:hover img {
  filter: brightness(1);
}
body .styles .wrap .right-side .images a img {
  background: #7a7a7a;
  object-fit: cover;
  -o-object-fit: cover;
  filter: brightness(0.7);
  transition: .2s;
  position: relative;
}
body footer {
  background: #212121;
  width: 100%;
  display: flex;
  height: 582px;
}
body footer .map {
  background: #7a7a7a;
  width: 100%;
  margin: 0;
  padding: 0;
}
body footer .map iframe {
  display: flex;
  height: 100%;
}
body footer .right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0 40px;
}
body footer .right-side menu {
  margin: 0 0 0 40px;
  padding: 0;
}
body footer .right-side menu li {
  font-family: Roboto-Medium;
  font-size: 11px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  word-break: break-all;
  padding-right: 30px;
}
body footer .right-side menu li:hover {
  color: #7a7a7a;
}
body footer .right-side menu li:not(:last-child) {
  margin-bottom: 18px;
}
body footer .right-side menu li .description {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 9px;
  margin: 10px 0;
  color: #7a7a7a;
}
body footer .right-side menu li .description a {
  color: #7a7a7a;
  text-decoration: underline;
}
body footer .right-side menu li.closed .description {
  display: none;
}
body footer .right-side menu li img {
  margin-right: 5px;
}
body footer .right-side .bottom {
  margin-left: 40px;
}
body footer .right-side .bottom .search form {
  display: flex;
  align-items: center;
}
body footer .right-side .bottom .search input {
  font-family: Roboto-Regular;
  background: #333;
  border: none;
  position: relative;
  height: 25px;
  width: 160px;
  color: #fff;
  padding: 0 40px 0 7px;
  font-size: 11px;
}
body footer .right-side .bottom .search button {
  margin-left: -30px;
  z-index: 1;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 25px;
}
body footer .right-side .bottom .social {
  margin: 30px 0 10px;
}
body footer .right-side .bottom .social a {
  color: #fff;
}
body footer .right-side .bottom .copyright {
  color: #fff;
  font-size: 11px;
}
@media screen and (max-width: 980px) {
  body .wrap {
    width: 100%;
  }
  body header nav-wrap {
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
  }
  body header nav-wrap nav.mobile {
    display: flex;
  }
  body header nav-wrap nav.mobile span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    height: 45px;
    color: #fff;
    cursor: pointer;
  }
  body header nav-wrap nav.mobile ul {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 0;
    right: -100%;
    z-index: 9;
    top: -16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  body header nav-wrap nav.mobile ul span {
    display: flex;
    justify-content: flex-end;
    color: #333;
  }
  body header nav-wrap nav.mobile ul a {
    padding: 10px 25px;
    color: #333;
  }
  body header nav-wrap nav.mobile ul a:hover {
    background: #f2f2f2;
  }
  body header nav-wrap nav.desktop {
    display: none;
  }
  body .styles .wrap {
    flex-direction: column;
    align-items: center;
  }
  body .styles .wrap .left-side,
  body .styles .wrap .right-side {
    width: 90%;
    margin: 0;
  }
  body .styles .wrap .right-side .images {
    justify-content: center;
  }
  body .styles .wrap .title,
  body .styles .wrap .description,
  body .styles .wrap .line {
    align-items: flex-start;
  }
  body .styles .wrap menu ul {
    display: flex;
    flex-wrap: wrap;
  }
  body .styles .wrap menu ul li {
    flex-basis: 25%;
    height: 45px;
    display: flex;
  }
  body .styles .wrap menu ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .styles .wrap menu ul li a:hover {
    margin-right: 5px;
  }
  body .styles .wrap menu ul li.current {
    background: #f2f2f2;
  }
  body footer {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
  body footer .right-side {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
  body footer .right-side menu {
    margin: 20px 0;
  }
  body footer .right-side .bottom {
    margin: 0;
    text-align: center;
  }
  body footer .right-side .bottom .search input {
    width: 100%;
  }
}
