* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px 0;
}

.wrapper {
    border: 2px solid #666;
    max-width: 960px;
    margin: auto;
    display: grid;
    /*grid-template-columns: repeat(6, 1fr);*/
    grid-gap: 10px;
    grid-auto-columns: minmax(2fr, min-content);
}

.cols {
    border: 2px solid red;
}

.cols:first-child {
    grid-row: 1;
    grid-column: 1 / 7;
    background: #fafafa;
    border: none;
}

.cols:last-child {
    grid-column: 1 / 7;
    border: 1px solid green;
}