@import './player.config.less';

.player {
  color: #f4f5f7;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.player-content {
  background: @player-background;
  height: @player-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
