<div class="free-consultation-window-bg">
    <div class="free-consultation-window">
        <div class="close" onclick="closeWindow('.free-consultation-window-bg')">x</div>
        <div class="title">Напишите нам и мы вам перезвоним</div>
        <form>
            <label for="cMobilePhone">Телефон</label>
            <input type="text" id="cMobilePhone">
            <label for="cEmail">Mail</label>
            <input type="text" id="cEmail">
            <label for="cTopic">Mail</label>
            <input type="text" id="cTopic">
            <label for="cMessage">Сообщение</label>
            <textarea name="message" id="cMessage" cols="30" rows="10"></textarea>
            <label for="cFile">Прикрепить</label>
            <input type="text" id="cFile">
            <button>Отправить</button>
        </form>
    </div>
</div>