<div class="news">
    <% articles.forEach(function(item) { %>
    <div class="article" onclick="viewArticle('<%- item.id %>')">
        <div class="img">
            <img src="<%- item.image_link %>">
        </div>
        <div class="text">
            <div class="top">
                <div class="article-title"><%- item.title %></div>
                <div class="desc"><%- item.description %></div>
            </div>
            <div class="info">
                <!-- <span class="category"><%- item.category %></span> -->
                <!-- <span class="circle"></span> -->
                <!-- <span><%- item.date %></span> -->
                <a class="more">Подробнее</a>
            </div>
        </div>
    </div>
    <% }); %>
    <div class="pagination"></div>
</div>