<div class="pop-up-order-bg">
    <div class="pop-up-order">
        <div class="close" onclick="closeWindow('.pop-up-order-bg')">
            <img src="img/icons/close.png" alt="X">
        </div>
        <form>
            <textarea name="" id="" cols="30" rows="10">Опишите вашу задачу</textarea>
            <input type="file">
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="Ваш телефон">
            <input type="text" placeholder="Электронная почта">
            <input type="text" placeholder="Ваш город">
            <button>Отправить заявку</button>
        </form>
    </div>
</div>