<div class="pop-up-order-bg">
    <div class="pop-up-order">
        <div class="close" onclick="closeWindow('.pop-up-order-bg')">
            <img src="img/icons/close-dark.png" alt="X">
        </div>
        <form>
            <div class="top">
                <textarea name="order-task" id="order-task" cols="30" rows="10" placeholder="Опишите вашу задачу"></textarea>
                <label for="file-input" id="file-input-label">
                    <img src="img/icons/attachment.png">
                    <span>Прикрепить файл</span>
                </label>
                <input type="file" id="file-input" multiple hidden>
            </div>
            <div class="info">
                <div class="section">
                    <label for="order-name">
                        <img src="img/icons/man.png" alt="">
                    </label>
                    <input type="text" placeholder="Ваше имя" id="order-name" sizes="6">
                </div>
                <div class="section">
                    <label for="order-phone">
                        <img src="img/icons/phone-1.png">
                    </label>
                    <input type="text" name="usrtel" placeholder="Ваш телефон" sizes="12" id="order-phone">
                </div>
                <div class="section">
                    <label for="order-mail">
                        <img src="img/icons/mail.png">
                    </label>
                    <input type="email" placeholder="Эл. почта" id="order-mail">
                </div>
                <div class="section">
                    <label for="order-city">
                        <img src="img/icons/place.png">
                    </label>
                    <input type="text" placeholder="Ваш город" id="order-city">
                </div>
            </div>
            <div class="bottom">
                <ul id="errors">
                </ul>
                <input type="button" id="submitOrder" value="Отправить заявку"></input>
            </div>
        </form>
    </div>
</div>