<div class="section">
    <% if(data.category == 'news') { %>
        Новости
    <% } else if(data.category == 'materials') { %>
        Материалы
    <% } %>    
</div>
<% _.forEach(_.range(data.countOfPages), function(value) { 
    if(value == data.currentPage) { %>
        <a class="current-page"><%- value + 1 %></a>
    <% } else { %>
        <a onclick="loadData('<%- data.category %>', '<%= value %>')"><%- value + 1 %></a>
<% }} ); %>
<% if(data.currentPage < data.countOfPages - 1) { %>
<a class="next" onclick="loadData('<%- data.category %>', '<%= Number(data.currentPage)+1 %>')">Следующая</a>
<% } else { %>
<a class="next">Следующая</a>
<% } %>