<div class="pop-up-bg">
    <div class="pop-up-form">
        <div class="close" onclick="closeWindow('.pop-up-bg')">
            <img src="img/icons/close.png" alt="X">
        </div>
        <div class="title">Внесите свои данные</div>
        <div class="box">
            <form>
                <div class="row">
                    <label for="country">Страна</label>
                    <select name="country" id="country">
                        <option value="1">Беларусь</option>
                        <option value="2">Россия</option>
                        <option value="3">Украина</option>
                    </select>
                </div>
                <div class="row">
                    <label for="city">Город</label>
                    <select name="city" id="city">
                        <option value="1">Минск</option>
                        <option value="2">Борисов</option>
                        <option value="3">Солигорск</option>
                    </select>
                </div>
                <div class="row">
                    <label for="title">Название</label>
                    <input type="text" id="title">
                </div>
                <div class="row">
                    <label for="site">Сайт</label>
                    <input type="text" id="site">
                </div>
                <div class="row">
                    <label for="mobile">Телефон</label>
                    <input type="text" id="mobile">
                </div>
                <div class="row">
                    <label for="photos">Фотографии</label>
                    <input type="text" id="photos">
                </div>
                <button class="button-dark">Добавить</button>
            </form>
        </div>
    </div>
</div> 