<% var currentPage = 1; %>
        <%
        _.forIn(projects.splice(currentPage - 1, currentPage + 8), function(item, key) {
                if(key == 2 || key == 5 || key == 7) { %>
                    <div class="col-1"></div>
                <% } %>
            <div class="col-1" onclick="viewImages('<%- JSON.stringify(item) %>')">
            <div class="block">
                <div class="image">
                    <img src="<%- item.pre_img %>" alt="">
                </div>
                <div class="info">
                    <div class="project-title"><%- item.title %></div>
                    <div class="project-description"><%- item.country %></div>
                </div>
            </div>
        </div>
        <% }); %>

<!--<div class="grid">-->
    <!--<div class="grid-row">-->
        <!--<div class="col-2">-->
            <!--<div class="info">-->
                <!--<div>-->
                    <!--<div class="title">Проекты</div>-->
                    <!--<div class="description">Наши дизайнеры профессионалы своего дела</div>-->
                    <!--<div class="line"></div>-->
                <!--</div>-->
                <!--<div class="arrows">-->
                    <!--<img src="img/icons/arrow-left.png" alt="<">-->
                    <!--<img src="img/icons/arrow-right.png" alt=">">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="" alt="Первый проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 1</div>-->
                    <!--<div class="project-description">Борисов</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-2.jpg" alt="Второй проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 2</div>-->
                    <!--<div class="project-description">Могилев</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1"></div>-->
    <!--</div>-->
    <!--<div class="grid-row">-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-3.jpg" alt="Третий проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 3</div>-->
                    <!--<div class="project-description">Полоцк</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-4.jpg" alt="Четвертый проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 4</div>-->
                    <!--<div class="project-description">Гродно</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-5.jpg" alt="Пятый проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 5</div>-->
                    <!--<div class="project-description">Солигорск</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1"></div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-6.jpg" alt="Шестой проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 6</div>-->
                    <!--<div class="project-description">Гомель</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="grid-row">-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-7.jpg" alt="Седьмой проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 7</div>-->
                    <!--<div class="project-description">Витебск</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1"></div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-8.jpg" alt="Восьмой проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 8</div>-->
                    <!--<div class="project-description">Борисов</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-1">-->
            <!--<a href="#">-->
                <!--<div class="image">-->
                    <!--<img src="img/projects/project-9.jpg" alt="Девятый проект">-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--<div class="project-title">Проект 9</div>-->
                    <!--<div class="project-description">Борисов</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="add" onclick="togglePopUp('.pop-up-form')">-->
            <!--<img src="img/icons/add.png" alt="Добавить">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->