<div class="grid-row">
<div class="col-2">
    <div class="info">
        <div>
            <div class="title">Проекты</div>
            <div class="description">Наши дизайнеры профессионалы своего дела</div>
            <div class="line"></div>
        </div>
        <div class="arrows">
            <img src="img/icons/arrow-left.png" alt="<" onclick="prevProjectPage()">
            <img src="img/icons/arrow-right.png" alt=">" onclick="nextProjectPage()">
        </div>
    </div>
</div>

<% var currentPage = 1; %>
<%
_.forIn(data, function(item, key) {
        if(key == 2 || key == 5 || key == 7) { %>
            <div class="col-1"></div>
        <% } %>
    <%if (key == 2 || key == 6) { %>
        </div><div class="grid-row">
    <% } %>
    <div class="col-1" onclick="viewImages('<%- JSON.stringify(item) %>')">
        <div class="block">
            <div class="image">
                <img src="<%- item.pre_img %>" alt="">
            </div>
            <div class="info">
                <div class="project-title"><%- item.title %></div>
                <div class="project-description"><%- item.country %></div>
            </div>
        </div>
    </div>
<% }); %>
    <div class="add" onclick="loadPopUp('pop-up-form')">
        <img src="img/icons/add.png" alt="Добавить">
    </div>
</div>