<div class="menu">
  <ul>
    <li routerLink="/messages" routerLinkActive="active"><img src="assets/icons/messages.png" alt="Messages"></li>
    <li routerLink="/groups" routerLinkActive="active"><img src="assets/icons/groups.png" alt="Groups"></li>
    <li class="big-button"><span>+</span></li>
    <li routerLink="/users/" routerLinkActive="active"><img src="assets/icons/users.png" alt="Users"></li>
    <li routerLink="/profile/" routerLinkActive="active"><img src="assets/icons/profile.png" alt="Profile"></li>
  </ul>
</div>
