@import './colors';

.light-theme {
    
    .navigation {

        a {
            color: @dark-grey;
        
            &:focus svg {
                box-shadow: 0 0 0 6px rgba(0, 0, 0, .2);
            }
        }

        svg {
            fill: @dark-middle-grey;
        }
    }

    .header {
        background: @light-grey;
        color: @dark-middle-grey;

        &__lamp {
            
            &:focus,
            &:hover {
                background: @light-grey;
            }
        }
    }

    .skills {
        background: @light-middle-grey;

        &__title {
            color: @dark-grey;
        }
    }

    .latest-works {
        background: @light-grey;
        
        &__title {
            color: @dark-grey;
        }

        &__article {

            &-title {
                
                a {
                    color: @dark-grey;
                }

                &:hover a {
                    color: @dark-light-grey;
                }
            }
        }

        &__image {
            box-shadow: 0 2px 8px @dark-grey;
        }
    }

    .hire {
        background: @light-grey;

        &__title {
            color: @dark-grey;
        }

        &__description {
            color: @dark-middle-grey;
        }
    }

    .footer {
        background: @light-middle-grey;

        &__content {
            color: @dark-middle-grey;
        }
    }

    &.works {

        .works__header {
            background: @light-grey;

            h1 {
                color: @dark-middle-grey;
            }
        }

        .works__navigation a {
            color: @middle;

            &:hover {
                color: @dark-middle-grey;
            }
        }

        .work {
            background: @light-middle-grey;
    
            &__share-link {
                color: @dark-grey;
            }
    
            &__title {
                color: @dark-middle-grey;
            }
    
            &__info {
                color: @dark-middle-grey;
            }
    
            &__description {
                color: @dark-light-grey;
            }
    
            &__technologies li {
                color: @dark-light-grey;
            }
        }
    }
}