@import './colors';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

::selection {
    color: white;
    background: @red;
}

.navigation {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    width: 100%;
    position: absolute;

    a {
        display: flex;
        opacity: .3;
        transition: .2s;
        color: white;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:focus {
            outline: none;

            svg {
                box-shadow: 0 0 0 6px rgba(255, 255, 255, .2);
            }
        }

        &:hover,
        &:focus {
            opacity: 1;
        }

        svg {
            height: 32px;
            border-radius: 50%;
            box-shadow: 0;
            fill: @light-grey;
            transition: .2s;
        }
    }
    
}

.header {
    background: @dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    height: 100vh;
    color: @light-grey;

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.75em;
        font-weight: normal;
        margin: 0;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 40px 0 30px;
        font-weight: normal;
    }
}

.skills {
    background: @red;

    &__title {
        color: white;
    }
    
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
        width: 100%;
        background: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
        border-radius: 3px;
        margin-bottom: 80px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover {
            background: @light-grey;

            svg {
                fill: @dark-grey;
            }
        }
        
        svg {
            height: 90px;
            fill: @middle-grey;
            transition: .6s;
        }
    }

    &__coming {
        font-weight: bold;
        color: @middle-grey;
        text-align: center;
        padding: 5px;

        &:hover {
            background: none;
        }
    }
}

.hire {
    background: @dark-middle-grey;
    padding-bottom: 40px;

    &__title {
        display: flex;
        color: @light-grey;
        align-items: center;

        i {
            margin-left: 5px;
            color: @green;
        }
    }
    
    &__description {
        text-align: center;
        color: @middle-grey;
        margin: 0 0 30px;
        max-width: 420px;
    }

    &__button {
        background: @red;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        @height: 45px;
        height: @height;
        border-radius: @height;
        text-transform: uppercase;
        color: @light-grey;
        transition: .3s;
        cursor: pointer;
        font-size: 12px;
        font-family: sans-serif;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 6px fadeout(@red, 60%);
        }
    }
}

.footer {
    background: @dark-grey;
    
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        color: @middle-grey;
    }
}

@media screen and (max-width: 1240px) {
    .skills {

        &__content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 900px) {
    .skills {

        &__content {
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
        }
    }
}

@media screen and (max-width: 630px) {
    .skills {

        &__content {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 100px;
            width: 90%;
        }

        &__item {
            
            svg {
                height: 50px;
            }
        }
    }

    .hire {

        &__description {
            padding: 0 20px;
        }
    }
}