@import './colors';
@import './light-theme';
@import './works';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

hr {
    border: none;
    border: 1px solid @dark-light-grey;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

::selection {
    color: white;
    background: @red;
}

.navigation {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    a {
        display: flex;
        opacity: .3;
        transition: .2s;
        color: white;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:focus {
            outline: none;

            svg {
                box-shadow: 0 0 0 6px rgba(255, 255, 255, .2);
            }
        }

        &:hover,
        &:focus {
            opacity: 1;
        }

        svg {
            height: 32px;
            border-radius: 50%;
            box-shadow: 0;
            fill: @light-grey;
            transition: .2s;
        }
    }
    
}

.header {
    background: @dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    height: 100vh;
    color: @light-grey;
    position: relative;
    overflow: hidden;

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.75em;
        font-weight: normal;
        margin: 0;
    }

    &__lamp {
        border: none;
        background: none;
        color: @light-grey;
        cursor: pointer;
        display: flex;
        justify-content: center;
        @size: 50px;
        width: @size;
        height: @size;
        border-radius: @size;
        transition: .3s;

        &:focus,
        &:hover {
            outline: none;
            background: @dark-middle-grey;
            box-shadow: 0 0 10px @middle-grey;
        }

        &_on {
            color: @orange;
            text-shadow: 0 0 20px @yellow;
        }

        &_off {
            color: @dark-middle-grey;
        }
    }

    .triangle {
        position: absolute;
        left: 7%;
        bottom: 20%;
        transform: rotate(45deg);

        &__start {
            stop-color: #00bfff;
        }

        &__end {
            stop-color: #8005fa;
        }
    }

    .triangle-1 {
        position: absolute;
        right: 2%;
        top: 13%;
        transform: rotate(90deg);
 
        &__start {
            stop-color: #ff00aa;
        }

        &__end {
            stop-color: #05c9fa;
        }
    }

    .circle {
        position: absolute;
        left: 20%;
        top: -20px;
        transform: scale(4) rotate(-25deg);

        &__start {
            stop-color:#1e90ff;
        }

        &__end {
            stop-color: #1eff8d;
        }
    }

    .line {
        position: absolute;
        right: 15%;
        bottom: 7%;
        transform: scale(2) rotate(-35deg);

        &__start {
            stop-color:#4dafff;
        }

        &__end {
            stop-color: #00e63e;
        }
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 40px 0 30px;
        font-weight: normal;
    }
}

.button-with-radius {
    background: @red;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    @height: 45px;
    height: @height;
    border-radius: @height;
    text-transform: uppercase;
    color: @light-grey;
    transition: .3s;
    cursor: pointer;
    font-size: 12px;
    font-family: sans-serif;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 6px fadeout(@red, 60%);
    }
}

.latest-works {
    background: @dark-grey;

    &__title {
        color: @light-grey;
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin: 0 auto;
    }

    &__article {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: bold;
            text-align: center;
    
            a {
                color: @middle-grey;
                transition: .3s;
            }
    
            &:hover a {
                color: @light-grey;
            }
        }
    }

    &__image {
        overflow: hidden;
        height: 250px;
        border-radius: 3px;
        box-shadow: 0 2px 8px @black-grey;
        transition: filter .3s;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:focus {
            box-shadow: 0 0 0 6px @red;
        }

        &:hover {
            filter: brightness(1.1);
        }
    }

    &__footer {
        display: flex;
    }

    &__button {
        margin: 40px auto;
    }
}

.skills {
    background: @red;

    &__title {
        color: white;
    }
    
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
        width: 100%;
        background: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
        border-radius: 3px;
        margin-bottom: 80px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover {
            background: @light-grey;

            svg {
                fill: @dark-grey;
            }
        }
        
        svg {
            height: 90px;
            fill: @middle-grey;
            transition: .6s;
        }
    }

    &__coming {
        font-weight: bold;
        color: @middle-grey;
        text-align: center;
        padding: 5px;

        &:hover {
            background: none;
        }
    }
}

.hire {
    background: @dark-middle-grey;
    padding-bottom: 40px;

    &__title {
        display: flex;
        color: @light-grey;
        align-items: center;

        i {
            margin-left: 5px;
            color: @green;
        }
    }
    
    &__description {
        text-align: center;
        color: @middle-grey;
        margin: 0 0 30px;
        max-width: 420px;
    }
}

.footer {
    background: @dark-grey;
    
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        color: @middle-grey;
    }
}

@media screen and (max-width: 1240px) {
    .latest-works,
    .skills {

        &__content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 900px) {
    .latest-works {

        &__image {
            height: 200px;
        }
    }
    
    .skills {

        &__content {
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
        }
    }
}

@media screen and (max-width: 630px) {
    .latest-works {

        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .skills {

        &__content {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 100px;
            width: 90%;
        }

        &__item {
            
            svg {
                height: 50px;
            }
        }
    }

    .hire {

        &__description {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 540px) {
    .latest-works {

        &__content {
            grid-template-columns: 1fr;
        }
    }
}