@text-color: #b9b9b9;
@border-grey: #e0e0e0;

form {
    background: #e6e6e6;
    display: flex;
    padding: 15px;
    input {
        background: #fff;
        color: @text-color;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 100%;
        height: 30px;
        font-size: 12px;
        padding: 0 6px; // TODO: Remove
    }
}

.section {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    color: @text-color;
    height: 25px;
    padding: 0 18px;
    font-size: 12px;
    border-bottom: 1px solid @border-grey;
    span {
        color: #df1a3d;
    }
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
        list-style: none;
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        padding: 0 15px;
        background: #fff;
        border-bottom: 1px solid @border-grey;
        .left {
            display: flex;
            align-items: center;
            .avatar {
                position: relative;
                margin-right: 14px;
                img {
                    width: 34px;
                    border-radius: 50%;
                }
                .online {
                    position: absolute;
                    bottom: 2px;
                    right: 2px;
                    background: linear-gradient(#d90647, #eb402c);
                    border: 2px solid #fff;
                    display: flex;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
            .name {
                font-size: 16px;
                color: #363636;
            }
        }
        .right {
            span {
                // cursor: pointer;
                &:first-child {
                    margin-right: 15px;
                }
                img {
                    width: 20px;
                }
            }
        }
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
}